<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070171988351-kpcj5nu01oin7kf0ehnd1q7lseuc57g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070171988351-kpcj5nu01oin7kf0ehnd1q7lseuc57g2</string>
	<key>API_KEY</key>
	<string>AIzaSyDz3Qy_YMXLiThVKLrydwxMbncczA9dec4</string>
	<key>GCM_SENDER_ID</key>
	<string>1070171988351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ud.prevencion.prevencionCardiovascular</string>
	<key>PROJECT_ID</key>
	<string>prevencion-cardiovascular</string>
	<key>STORAGE_BUCKET</key>
	<string>prevencion-cardiovascular.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070171988351:ios:21ea1a09382b02229a3a4a</string>
</dict>
</plist>